<a href="https://colab.research.google.com/github/ssanchezgoe/flask_vscode_tutorial/blob/master/SQL_RDB_101_original.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Learning Objetives**

- The SQL language
- The relational database model
- The relational model
- Relational model concepts and constraints

## **Sylabus**

**Module 1 - SQL and Relational Databases 101**

- Introduction to SQL and Relational Databases
- Information and Data Models
- Types of Relationships
- Mapping Entities to Tables
- Relational Model Concepts  

**Module 2 - Relational Model Constraints and Data Objects**

- Relational Model Constraints Introduction
- Relational Model Constraints Advanced 

**Module 3 - Data Definition Language (DDL) and Data Manipulation Language (DML)**

- CREATE TABLE statement
- INSERT statement
- SELECT statement
- UPDATE and DELETE statements

**Module 4 - Advanced DDL and DML**

- String Patterns, Ranges, and Sets
- Sorting Result Sets  
- Grouping Result Sets

**Module 5 - Working with multiple tables**

- Join Overview
- Inner Join
- Left Outer Join
- Right Outer Join
- Full Join

#**A. SQL y Bases de datos relacionales**

##**1. ¿Qué es SQL las bases de datos relacionales?**

**¿Qué es SQL?**

SQL es un lenguaje usado para las bases de datos relacionales para consultar y obtener datos de las bases de datos.

SQL es el acrónimo en inglés de **Structured english Query Language**, o, **Lenguaje estructurado de consulta**. De esta forma, SQL es un lenguaje usado usado en una base de datos para la consulta de datos.

**¿Que son los Datos?**

Los datos corresponden a colecciones de hechos en forma de:

- Palabras: que pueden representar categorias, reseñas, etc.
- Números: Como la edad de una persona, el ingreso mensual, etc.
- Imágnes.
- Etc.

Tenemos que tener en cuenta que **los datos representan el activo más importante para cualquier negocio**. Existen varios ejemplos del uso de datos por parte de compañias:

- Los bancos, por ejemplo, guardan de cada uno de nosotros un perfil con datos como el nombre, la dirección de residencia, el número de móvil, el número de cuenta, etc.

- Ciertas compañias de telecomunicaciones pueden almacenar datos de personas como su cupo de endeudamiento, el estrato en el que viven, un estimado de ingresos mensuales, etc.

Con el fin de tener acceso a estos datos de forma fácil y segura es que se crean las bases de datos.

**¿Qué es una base de datos?**

Una base de datos es un repositorio que almacena información de forma estructurada o no. Corresponde entonces, a un programa que almacena datos. Una base de datos proporciona, a su vez, las funcionalidades necesarias para **adicionar, modificar y consultar los datos**. 

Existen diferentes tipos de bases de datos que tienen como fin satisfacer diferentes necesidades, de tal forma que pueden ser guardadas de varias formas. 

**Bases de datos relacionales**

En el caso de tener diferentes datos almacenados en una forma tabular, organizados en tablas, como en el caso de una hoja de cálculo, hablamos de una báse de datos relacional. La siguiente figura ilustra un elemento de este tipo de base de datos, con el que muchos de ustedes estarán familiarizados.

<center>
    <img height="200px" src="https://github.com/ssanchezgoe/flask_vscode_tutorial/blob/master/imagenes/tabla_ejemplo.png?raw=true" />
</center>

Cada una de las columnas contienen propiedades sobre los ítems como el Nombre, la Ciudad, la Edad, el e-mail y el País. 

Definimos, entonces, a una tabla como una colección de elementos relacionados, como una lista de empleados, o una lista de autores de artículos, etc. En la bases de datos relacionales podemos formar relaciones entre tablas. Así, **una base de datos es un repocitorio de datos**.

Respecto a la funcionalidad operativa de la base de datos, definimos a un **sistema de gestión de bases de datos** (en inglés DBMS - Data Base Managment System). A menudo, al DBMS se le denomina como *base de datos*, *servidor de base de datos*, *servidor de datos* o *gestor de base de datos*. En el caso de una base de datos relacional, se le conoce, en inglés, como RDBMS (Relational Data Base Managment System). 

---
**RDBMS:** Conjunto de herramientas de software que controla aspectos de los datos como acceso, organización y almacenamiento.

Algunos ejemplos de *RDBMS* son:

- MySQL
- Oracle
- DB2 Express-C
---

Para la mayoria de personas que usan una base de datos, existen cinco comandos de uso común los cuales son:

- Crear tabla
- Insertar datos 
- Seleccionar datos de una tabla
- Actualizar datos de una tabla
- Borrar datos de una tabla

que representan los pilares en SQL y las bases de datos relacionales.

## **2. Información y Modelos de datos**

Objetivos de la unidad:

1. Descripcion de diferencias entre modelo de información y modelo de datos
2. Explicación de la ventaja de un modelo relacional.
3. Descripción de la diferencia entre una entidad y un atributo.

###**Modelo de información vs Modelo de datos**

Un **modelo de información** es una representanción abstracta y formal de **entidades** que incluye a sus propiedades, relaciones y operaciones que pueden ser realizadas en estas. Las **entidades** que son modeladas pueden provenir del mundo real, como una librería.

Los **modelos de información** y los **modelos de datos** son diferentes y sirven para propósitos diferentes. El **modelo de información** se encuentra más a un nivel conceptual que define las relaciones entre los objetos. Los **modelos de datos** se definen a un nivel más concreto, son específicos e incluye detalles concretos. Un modelo de datos es un cianotipo d cualquier sistema de bases de datos. El más popular es el **modelo de datos de tipo jerárquico**, usado para mostrar organigramas. 


<font color='red'>Figura</font>

Como se muestra en la siguiente figura, el modelo jerárquico organiza sus datos usando una estructura de árbol. La raíz del arbol es el **nodo padre** segido de los **nodos hijos**, Un nodo hijo no puede tener más de un padre, no obstante, un nodo padre puede tener varios nodos hijos.

<font color='red'>Figura de un organigrama</font>

###**Modelo de datos Relacional o Modelo relacional**

El **modelo relacional** es el modelo de datos más usado en bases de datos ya que este modelo permite la indepencencia entre datos. Como se ha mencionado anteriormente, los datos son almacenados en una estructura simple, como una tabla. Esta estructura proporciona una independencia lógida de los datos, una independencia física, y una independencia en su almacenamiento físico.

###**Modelo de datos entidad-relación**

Un modelo de datos **entidad-relación**, o modelo de datos ER, es una alternativa al modelo. Este modelo postula que una base de datos debe ser pensada como una colección de entidades. En lugar de utilizarse este modelo como un modelo de datos en si mismo, el modelo ER se usa como herramienta para diseñar base de datos relacionales. En el modelo ER, las entidades son objetos que existen independientes de cualquier otra entidad en la base de datos. Es sencillo converti un diagrama de ER en una colección de tablas. Los componentes básicos de un diagrama de ER son **entidades** y **atributos**. Las entidades tienen atributos que corresponden a elementos de datos que caracterizan a la entidad, es decir que los atributos nos brindan más información de la entidad. En un diagrama ER, las entidades se dibujan como rectángulos y los atributos como ovalos. Las entidades pueden ser un sustantivo (persona, animal, lugar o cosa). En la siguiente figura se ilustra diagrama ER de forma general.


<center>
    <img height="330px" src="https://github.com/ssanchezgoe/flask_vscode_tutorial/blob/master/imagenes/ERC.png?raw=true
" />
</center>

Para convertir un modelo ER a una tabla, las entidades corresponderían al nombre de la tabla, y los atributos a la columna, como se especifica en la figura. En el caso concreto de una base de datos de casas, un diagrama ER tendría la siguiente siguiente forma.

<center>
    <img height="330px" src="https://github.com/ssanchezgoe/flask_vscode_tutorial/blob/master/imagenes/ERD_casa.png?raw=true" />
</center>

En el proceso de construcción de una base de datos de casas, que puede poseer una inmoviliaria, por ejemplo, lo primero sería identificar cada una de las entidades, y cada una de las entidades deben estar compuestas por sus respectivos atributos. Cada una de las entidades se convertirá entonces en una tabla:


<center>
    <img height="500px" src="https://github.com/ssanchezgoe/flask_vscode_tutorial/blob/master/imagenes/ERD_inmoviliaria.png?raw=true" />
</center>

##**3. Tipos de relaciones**

En esta sección se estudiarán los tipos de **relaciones existentes entre las entidades**. Al final de esta sección, estará habrá adquirido competencias en:

- Descripción de los elementos constitutivos de una relación.
- Compresión de los simbolos usados en un conjunto de relaciones.
- Comprensión de las diferencias de las relaciones uno-contr-uno o varios-contra-varios.

###**Building Blocks - Elementos constitutivos en las relaciones**

Los elementos constitutivos (Building Blocks) en una relación están dados por

- Entidades

  <center>
    <img height="80px" src="https://github.com/ssanchezgoe/flask_vscode_tutorial/blob/master/imagenes/BB_Entidad.png?raw=true" />
</center>

- Conjuntos de relaciones, con líneas conectando las entidades

  <center>
    <img height="200px" src="https://github.com/ssanchezgoe/flask_vscode_tutorial/blob/master/imagenes/BB_Conjunto_relaciones.png?raw=true" />
</center>


- Anotaciones de patas de gallo

  <center>
    <img height="80px" src="https://github.com/ssanchezgoe/flask_vscode_tutorial/blob/master/imagenes/BB_pataGallo.png?raw=true" />
</center>


Veamos un ejemplo que trabajamos en la sección anterior de entidades y atributos que se resumen en la siguiente tabla: 



Entidad | Atributos
-- | --
Vivienda | - Tipo <br> - Precio <br> - Habitaciones <br> - Barrio <br> - Parqueadero <br> - Estrato <br> - Ciudad <br> - Área
Propietario | - ID propietario <br> - Nombre <br> - Apellido <br> - e-mail <br> - País <br> - Ciudad

**¿Qué relación existe entre las entidades Vivien y Propietario?**

1. Una vivienda tiene que tener al menos un propietario.
2. Un propietario tendrá al menos una casa

De estos ejemplos vemos que una vivienda necesita al menos un propietario. El conjunto de relaciones que se da aquí es de propietario. Una vivienta debe tener al menos un propietario.

- **Relación uno a uno** 

En el siguiente esquema se ilustra dicha relación en donde una vivienda tiene un solo propietario. Las líneas gruesas indican que cada entidad en el conjunto de entidades está relacionada mediante una relación. A esto se le llama relación uno a uno. En los diagramas de relaciones solo se utilizan entidades. Los atributos se omiten porque pueden saturar los diagramas.

<center>
    <img height="200px" src="https://github.com/ssanchezgoe/flask_vscode_tutorial/blob/master/imagenes/one-to-one.png?raw=true" />
</center>

- **Relación uno a varios**

En el siguiente esquema se ilustra dicha relación en donde una vivienda tiene más de un propietario. Este caso se representa usando el esquema de pata de gato para representar una relación de **uno-a-varios** (one-to-many)


<center>
    <img height="200px" src="https://github.com/ssanchezgoe/flask_vscode_tutorial/blob/master/imagenes/one-to-many.png?raw=true" />
</center>

- **Relación varios a varios**

En el siguiente esquema se ilustra dicha relación en donde una varias viviendas con varios propietario. Este caso se representa usando dos esquemas de pata de gato para representar las relacion de **varios-a-varios** (many-to-many)


<center>
    <img height="200px" src="https://github.com/ssanchezgoe/flask_vscode_tutorial/blob/master/imagenes/varios-a-varios.png?raw=true" />
</center>

##**4. Mapeo de entidades a tablas**

En esta sección se expondrá como pasar de un diagrama Entidad-Relación a una tabla de una base de datos relacional compuesta por filas y columnas.

### **Diagramas ER**

Los diagramas de Entidad-Relación representan los cimientos para construir una base de datos. En el diseño de una base de datos relacional, se debe emppesar con un diagrama ER, para luego mapearlo a tablas en una base de datos.

Veamos los dos casos expuestos de las entidades Vivienda y Propietario:

Entidad <br> Tabla | Atributos <br> Columnas
-- | --
Vivienda |- ID_Vivienda <br> - Tipo <br> - Precio <br> - Habitaciones <br> - Barrio <br> - Parqueadero <br> - Estrato <br> - Ciudad <br> - Área
Propietario | - ID propietario <br> - Nombre <br> - Apellido <br> - e-mail <br> - País <br> - Ciudad

Las dos tablas derivadas de estas dos entidades serían las siguientes

- Entidad Vivienda

ID_Vivienda | Tipo | Precio | Habitaciones | Barrio | Parqueadero | Estrato | Ciudad | Área
-- | -- | -- | -- | -- | -- | -- | -- | --
0001A| Apartamento | 280.000.000| 2 | El portal | Si | 4 | Envigado | 80 m$^2$
0002A|Casa | 580.000.000| 4 | Usaquén | Si | 6 | Bogotá | 220 m$^2$
0003A|Aparta Estudio | 200.000.000| 1 | Estadio | No | 5 | Medellín | 50 m$^2$
0004A|Apartamento | 160.000.000| 2 | Aranjuez | No | 3 | Medellín | 85 m$^2$
0005A|Casa | 770.000.000| 3 | Cedritos | Si | 6 | Bogotá | 310 m$^2$

- Entidad Propietario

ID Propietario | Nombre | Apellido | e-mail | País | Ciudad 
-- | -- | -- | -- | -- | -- 
00001 | Carlos| Castro | cc2@gmail.com | Colombia |  Envigado
00002 | Adriana| Tamayo | atamayo22@outlook.com | Colombia | Bogotá
00003 | Pedro| Parra | pp3@mailito.com | Colombia | Calí 
00004 | Isabel| Idarraga | ii3@hotmail.com |Colombia | Cartagena
00005 | Ana| Alcántara | aa1@utp.com | Colombia | Bello

##**5. Conceptos del modelo relacional**

En esta sección se aboradrán los siguientes objetivos

-  Definición de los términos relacionales: relación, grado y cardinalidad.

- Explicación de la diferencia entre **esquema relacional** e **instancia relacional**.

### **Introducción**

El modelo relacional fue propuesto por primera vez en 1970, y se basó en un modelo matemático de donde se heredaron varios términos. 

**Conceptos del modelo relacional:**

Los bloques constitutivos (building blocks) de un modelo relacional son:

- Relaciones: Una relación es un concepto que se basa en la idea de conjuntos.
- Conjunto: Es una collección de elementos distintos sin orden, pero del mismo tipo.

**Base de datos relacional:**

Una **base de datos relacional** es conjunto de relaciones. La **relación** es, a su vez, un término matemático para una tabla, que es una combinación de filas y columnas. Una **relación** se divide en dos partes

- Esquema relacional: Especifica el nompre de dicho esquema y los nombres y tipos de cada atributo. Por ejemplo, en el caso de la relación *Vivienda* tenemos:

Atributo | Tipo
-- | --
Tipo| `string`
Precio| `float`
Habitaciones| `int`
Barrio| `int`
Parqueadero| `string`
Estrato| `int`
Ciudad| `string`
Área |`float`

- Instancia relacional: Tabla compuesta por filas y columnas
  - Columnas $\rightarrow$ Atributos/Campos
  - Filas $\rightarrow$ Tuplas
  - Grado:  Número de atributos
  - Cardinalidad: Número de tuplas


<center>
    <img height="250px" src="https://github.com/ssanchezgoe/flask_vscode_tutorial/blob/master/imagenes/instancia_relacional.png?raw=true
" />
</center>

# **B. Restricciones del modelo relacional y Objetos de Datos**

A lo largo de esta sección se cubrirán los dos siguientes temas:

- Introducción a las restricciones del modelo relacional.
- Restricciones del modelo relacional avanzadas.

## **1. Introducción a las restricciones del modelo relacional**

En esta subsección se estudiarán los siguientes tópicos:

- Explicación de las referencias.
- Diferencias entre clave primaria y clave foranea.
- Identificación de una tabla padre y tabla dependiente.

<p><a name="referencias"></a></p>

###**Referencias**

Dentro de cualquier negocio, los datos deben cumplir con ciertas restricciones o reglas. 


En esta subsección, nos remitiremos al ejempo de **Vivienda** y **Propietario**. En una relación uno a uno se vió que una **Vivienda** le corresponde a solo un **Propietario**. Para buscar la información del **Propietario**, la entidad **Vivienda** se refiere a la entidad **Propietario**. Para buscar la información de **Vivienda**, la entidad **Propietario** se refiere a la entidad **Vivienda**; en un modelo de datos relacionales, a esto se le conoce como referencia. En las bases de datos relacionales, esto establece la integridad de los datos entre dos relaciones.



<center>
    <img height="250px" src="https://github.com/ssanchezgoe/flask_vscode_tutorial/blob/master/imagenes/referenciacion.png?raw=true
" />
</center>

###**Representación de un modelo de datos relacional en un Diagrama ER.**

El diagrama de Entidad-Relación representa el modelo de datos relacionales para la entidad de **Propietario** y la entidad **Vivienda** como parte de un modelo de base de datos de una inmobiliaria simplificada. 

Además, se han agregado otras entidades, como Comprador, Lista_Propietario y Copia. Nótese que los atributos `ID_Propietario`, `ID_vivienda`, `ID_Comprador` e `ID_Copia`  tienen una ubicación especial que la asigna como la **clave principal**. Una **clave principal** de una tabla relacional identifica de forma única cada fila de una tabla. Nótese además que algunos atributos tienen el indicativo **FK**. Por ejemplo, la entidad `Copia` tiene el atributo `ID_vivienda` etiquetado como `FK`. `FK` nos indica una **clave externa**, que corresponde a un conjunto de columnas que hacen referencia a una **clave primaria** de otra tabla. Estas entidades son parte del conjunto de relaciones entre las entidades por arriba de ellas. Todas las entidades tienen una relación de uno a varios establecida entre ellas.


<center>
    <img height="500px" src="https://github.com/ssanchezgoe/flask_vscode_tutorial/blob/master/imagenes/ERC_claves.png?raw=true
" />
</center>

###**Terminología del modelo relacional**

Alguna terminología relacionada con el esquema anterior es la siguiente:

- Tabla padre: Una tabla que contienen una **clave primaria** que se realaciona con al menos una **clave foránea** se le conoce como **tabla padre**. En el caso de la inmobiliaria, las tablas de **Vivienda** y **Propietario** son tablas padres. 
- Tabla dependiente: Una tabla que posee al menos una **clave foránea** se le conoce como **tabla dependiente** o **tabla hijo**. En ERD anterior, las tablas `Lista_propietario` y `Copia` son tablas dependientes.

##**2. Restricciones avanzadas al modelo relacional**

En esta subsección se abarcarán los siguientes tópicos:

- Seis restricciones en el modelo relacional de bases de datos.

- Descripción de diferentes tipos de restricciones del modelo relacional.

###**Restricciones**

Dentro de cualquier negocio, los datos deben seguir ciertas reglas o restricciones. Las **restricciones** facilitan en un negocio la implementación de reglas para preservar correctamente los datos. En un modelo relacional de datos, la integridad de estos puede alcanzarse al usar reglas y restricciones. Las siguientes seis restricciones se definen en un modelo de bases de datos relacional:

- Restricción a la **Integridada de la Entidad**
- Restricción a la **Integridad Referencial**
- Restricción a la **Integridad Semántica**
- Restricción al **Dominio**
- Restricción de **`Null`**
- Restricción de **Revisión**

####**Restricción a la Integridad de la Entidad**

Para identificar cada tupla en una relación, la relación debe contener una **clave primaria** `[FK]`. La **clave primaria** es un valor único que identifica cada tupla o fila en la tabla. A esta restricción la conocemos como **Restricción a la Integridad de la Entidad**; también puede usarse el término **Restricción a la clave primaria**  o **Restricción Única**. El objetivo de esta restricción es evitar valores duplicados en la tabla. Para implementar estas retricciones, se deben usar índices. 

La restricción a la integridad de la entidad establece que ningún atributo que haga parte de la clave primaria de una relación puede tener por valor un `NULL`. El valor `Null` nos indica que no conocemos el valor almacenado. En la restricción a la integridad de la entidad, la **clave primaria** no puede tener un valor desconocido. Por ejemplo, en la siguiente relación, correspondiente a la `Vivienda`, `ID_Vivienda` repreenta la clave primaria e identifica cada tupla de la relación. En este caso, `ID_Vivienda 0001A` apunta a un apartamento en el Portal, Envigado. Sin embargo, Si hacemos nulo a  `ID_Vivienda 0001A`, aún se podrá identificar la vivienda en el Portal, Envigado. Sin embargo, si hacemos `ID_Vivienda 0005A` nula también, no sabremos identificar a qué tupla le correponde qué valor nulo. Con la restricción a la integridad de la entidad, los atributos que hacen parte de la clave primaria pueden aceptar valores de ID nulos. 
 
<font color='red'>ID_Vivienda [FK]</font> | <font color='red'>Tipo</font> | <font color='red'>Precio</font> | <font color='red'>Habitaciones</font> | <font color='red'>Barrio</font> | <font color='red'>Parqueadero</font> | <font color='red'>Estrato</font> | <font color='red'>Ciudad</font> | <font color='red'>Área</font>
-- | -- | -- | -- | -- | -- | -- | -- | --
0001A| Apartamento | 280.000.000| 2 | El portal | Si | 4 | Envigado | 80 m$^2$
0002A|Casa | 580.000.000| 4 | Usaquén | Si | 6 | Bogotá | 220 m$^2$
0003A|Aparta Estudio | 200.000.000| 1 | Estadio | No | 5 | Medellín | 50 m$^2$
0004A|Apartamento | 160.000.000| 2 | Aranjuez | No | 3 | Medellín | 85 m$^2$
0005A|Casa | 770.000.000| 3 | Cedritos | Si | 6 | Bogotá | 310 m$^2$

####**Restricción a la integridad referencial**

La **Restricción a la integridad referencial** define relaciones entre tablas, asegurándose que estas relaciones permanezcan válidas. La validez de un datos es reforzada usando una combinación de claves primarias y claves foráneas. Como se mencionó en la sección de [referencias](#referencias), para que una vivienda pueda existir, se necesita de al menos un propietario.

####**Restricción a la Integridad Semántica**

La **Restricción a la Integridad Semántica**, hace referencia a la exactitud del significado de los datos. Por ejemplo, si en atributo (columna) ciudad de la tabla `Propietario`, se encontrara un valor sin sentido, la restricción a la integridad semántica nos impone revisar su validez.

ID Propietario | Nombre | Apellido | e-mail | País | Ciudad 
-- | -- | -- | -- | -- | -- 
00001 | Carlos| Castro | cc2@gmail.com | Colombia | <font color='red'>**$GfasFD**</font> 
00002 | Adriana| Tamayo | atamayo22@outlook.com | Colombia | Bogotá
00003 | Pedro| Parra | pp3@mailito.com | Colombia | Calí 
00004 | Isabel| Idarraga | ii3@hotmail.com |Colombia | Cartagena
00005 | Ana| Alcántara | aa1@utp.com | Colombia | Bello

####**Restricción al Dominio**

La **Restricción al Dominio** especifica el tipo de dato que debe contener una columna. Por ejemplo, en la relación `Vivienda`, las ciudades son identificadas con nombres; si en algunas entradas tuviésemos un valor numérico, éste carecería de sentido.

ID_Vivienda | Tipo | Precio | Habitaciones | Barrio | Parqueadero | Estrato | Ciudad | Área
-- | -- | -- | -- | -- | -- | -- | -- | --
0001A| Apartamento | 280.000.000| 2 | El portal | Si | 4 | Envigado | 80 m$^2$
0002A|Casa | 580.000.000| 4 | Usaquén | Si | 6 | <font color='red'>**34**</font> | 220 m$^2$
0003A|Aparta Estudio | 200.000.000| 1 | Estadio | No | 5 | Medellín | 50 m$^2$
0004A|Apartamento | 160.000.000| 2 | Aranjuez | No | 3 | Medellín | 85 m$^2$
0005A|Casa | 770.000.000| 3 | Cedritos | Si | 6 | Bogotá | 310 m$^2$

**Nota:** Las restricciones de **Semántica** y **Dominio** son similares, no obstante, la primera nos indica si un valor almacenado tiene signifido o nó, mientras que la segunda nos indica si el tipo del dato almacenado es correcto.

####**Restricción de `Null`**

La restricción de `Null` establece que ningún atributo debe aceptar valores `Null` o vacios. Por ejemplo, si en la entidad `Propietario` alguno de los atributos de `Nombre` o `Apellido` contienen valores nulos, sería difícil identificar al propietario de un inmueble.

ID Propietario | Nombre | Apellido | e-mail | País | Ciudad 
-- | -- | -- | -- | -- | -- 
00001 |  <font color='red'>**Null**</font>| Castro | cc2@gmail.com | Colombia | Envigado 
00002 | Adriana|  <font color='red'>**Null**</font>  | atamayo22@outlook.com | Colombia | Bogotá
00003 | Pedro| Parra | pp3@mailito.com | Colombia | Calí 
00004 | Isabel| Idarraga | ii3@hotmail.com |Colombia | Cartagena
00005 | Ana| Alcántara | aa1@utp.com | Colombia | Bello

En este sentido, un propietario no podría tener valores nulos en su nombre o apellido.

####**Restricción de Revisión**

La **Restricción de Revisión** (Check) refuerza la **integridad de dominio** al limitar los valores que acepta el atributo. En la relación `Vivienda`, el atributo `Estrato` tiene, en Colombia, un valor entero entre 1 y 6; en caso de tener un valor diferente, no tendría sentido. La restricción de revisión impondría a la integridad del dominio una limitación en los valores, **aceptando solo ciertos valores**.


ID_Vivienda | Tipo | Precio | Habitaciones | Barrio | Parqueadero | Estrato | Ciudad | Área
-- | -- | -- | -- | -- | -- | -- | -- | --
0001A| Apartamento | 280.000.000| 2 | El portal | Si | 4 | Envigado | 80 m$^2$
0002A|Casa | 580.000.000| 4 | Usaquén | Si | 6 | Bogotá | 220 m$^2$
0003A|Aparta Estudio | 200.000.000| 1 | Estadio | No | <font color='red'>**8**</font> | Medellín | 50 m$^2$
0004A|Apartamento | 160.000.000| 2 | Aranjuez | No | 3 | Medellín | 85 m$^2$
0005A|Casa | 770.000.000| 3 | Cedritos | Si | 6 | Bogotá | 310 m$^2$

####**Información adicional**

Additional Information
This section gives more detailed explanation about concepts that were not covered in the videos in this module.
 

**Primary Keys**

If a relation schema has more than one key, then each key is called a candidate key.One of the candidate keys is designated as the primary key, and the others are called secondary keys.

In a practical relational database, each relation schema must have a primary key.

**Rules for primary keys:**

The value of the Primary Key must be unique for each instance of the entity.

- There can be no missing values( ie. Not Null) for Primary Keys. If the Primary Key is composed of multiple attributes, each of those attributes must have a value for each instance.
- The Primary Key is immutable.i.e., once created the value of the Primary Key cannot be changed.
- If the Primary Key consists of multiple attributes, none of these values can be updated.
 

**Semantic Integrity**

Semantic integrity ensures that data entered into a row reflects an allowable value for that row. The value must be within the domain, or allowable set of values, for that column. For example, the quantity column of the items table permits only numbers. If a value outside the domain can be entered into a column, the semantic integrity of the data is violated.

 

**Semantic Constraints**

Semantic Constraints are constraints that cannot be directly expressed in the schemas of the data model. Semantic constraints are also called application-based rules or business rules.  They are additional rules specified by users or database administrators. For example, a class can have a maximum of 30 students; salary of an employee cannot exceed the salary of the employee’s manager.

Domain constraints specify that within a tuple the value of each attribute must be an element from the domain of that attribute. The data types associated with the domains include:

- Integers (short integer, integer, long integer)
- Real numbers (float and double precision float)
- Characters
- Booleans
- Fixed-length strings and variable length strings
- Date, time, timestamp
- Money
- Other special data types

Other possible domain values may be a sub-range of values from a data type or as an enumerated data type in which values are explicitly listed.

#**C. Lenguaje de Definición de Datos (DDL) y Lenguaje de Manipulación de Datos (DML)**

Los tópicos, relacionados sentencias, trabajados durantes esta sección serán:

- Sentencia de creación de una tabla (Create)
- Sentencia de Inserción en una tabla (Insert)
- Sentencia de selección en una tabla (Select)
- Sentencias de actualización y eliminación (Update y Delete)

##**Introducción**

Para la mayoría de la comunidad que hace uso de las bases de datos, existe 5 sentencias primordiales para operar con bases datos:

- **Creación** de una tabla
- **Inserción** de datos en una tabla
- **Selección** de datos de una tabla
- **Actualización** de datos de una tabla
- **Eliminación** de datos de una tabla

En referencia a esto, existen dos Lenguajes relacionados con las bases de datos:

- Lenguaje de Definición de Datos (DDL - Data Language Definition): Se usan para definir, cambiar o eliminar datos. Los DDL tienen como función principal la creación de objetos de bases de datos. 
- Lenguaje de Manipulación de Datos (DML - Data Managment Definition): Se usa para leer y modificar datos.

##**Sentencia Create: Creación de tablas**

En esta sección se aprendera a:

- Explicar cómo los nombres de las entidades y los atributos son usados en una tabla de bases de datos relacionales.

##**Creación de una tabla**

Como se ha mencionado en varias ocasiones, en una base de datos relacional, los datos son organizados en tablas, formadas por filas y colomnas. Basándonos en el ejemplo de las entidades `Vivienda` y `Propietario`, creamos una tabla usando el nombre de la entidad. Los atributos de la entidad serán las columnas de las tablas. 

Si usamos como ejemplo al propietario, se empieza por crear la tabla `Propietario` y se asigna los tipos de datos a los atributos de la tabla. En SQL, la creación de una tabla seria de la forma



```
#Creación tabla Propietario
CREATE TABLE Propietario (
    ID_propietario CHAR(5) CONSTRAINT PROPIETARIO_PK PRIMARY KEY (Propietario_id) NOT NULL,
    Nombre VARCHAR(15) NOT NULL,
    Apellido VARCHAR(15) NOT NULL,
    e-mail VARCHAR(15),
    Pais VARCHAR(15),
    Ciudad VARCHAR(15)
   ....
);
```

La sentencia `CREATE TABLE` pertenecen a las instrucciones DDL.  

En la creación se debe tener en cuenta que `ID_Propietario` es la **clave primaria**. Esta restricción evita valores duplicados en la tabla. 

Por otro lado, de la tabla `Propietario`

ID_Propietario | Nombre | Apellido | e-mail | País | Ciudad 
-- | -- | -- | -- | -- | -- 
00001 | Carlos| Castro | cc2@gmail.com | Colombia |  Envigado
00002 | Adriana| Tamayo | atamayo22@outlook.com | Colombia | Bogotá
00003 | Pedro| Parra | pp3@mailito.com | Colombia | Calí 
00004 | Isabel| Idarraga | ii3@hotmail.com |Colombia | Cartagena
00005 | Ana| Alcántara | aa1@utp.com | Colombia | Bello

los tipos de cada atributo, serían:

- `ID_Propietario`: `Char`
- `Nombre`: `VARCHAR`
- `Apellido`: `VARCHAR`
- `e-mail`: `int`
- `País`: `VARCHAR`
- `Ciudad`: `VARCHAR`

Tenga en cuena que los atributos de `Nombre` y `Apellido` deben tener restricción de no `NULL`, para asegurar que no contenga datos nulos: Todo propietario debe tener Nombre y Apellido.

##**Sentencia INSERT**

En esta sesión el estudiante desarrollará las siguientes habilidades

- Identificar la sintaxis relacionada con la sentencia INSERT.
- Explicar los dos métodos para insertar filas y columnas en una tabla

###**Adición de filas a una tabla**

Después de que una tabla se crea, necesitaremos rellenar la tabla con datos. Para este fin, usamos la sentencia `INSERT`, con el fin de adicionar nuebas filas. LA sentencia INSERT hace parte del *Lenguaje de Manipulación de Datos* - DML (las sentencias DML se usan para leer y modificar los datos).

Retomando el ejemplo de la entidad `Propietario`, empezamos por crear dicha entidad usando el nombre de la relación (`Propietario`), y los atributos de la tabla como columnas (`ID_Propietario`, `Nombre`, `Apellido`, `email`, `Pais` y `Ciudad`). El siguiente paso es la adición de entradas o filas a la tabla, mediante la sentencia `INSERT` mediante la siguiente sintaxis



```
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...)
```

Por ejemplo, para insertar la primera fila de la relación `Propietario`

ID_Propietario | Nombre | Apellido | e-mail | País | Ciudad 
-- | -- | -- | -- | -- | -- 
00001 | Carlos| Castro | cc2@gmail.com | Colombia |  Envigado
00002 | Adriana| Tamayo | atamayo22@outlook.com | Colombia | Bogotá
00003 | Pedro| Parra | pp3@mailito.com | Colombia | Calí 
00004 | Isabel| Idarraga | ii3@hotmail.com |Colombia | Cartagena
00005 | Ana| Alcántara | aa1@utp.com | Colombia | Bello

Escribiríamos lo  en SQL:


```
INSERT INTO Propietario (ID_Propietario, Nombre, Apellido, e-mail, Pais, Ciudad)
VALUES ('0001', 'Carlos', 'Castro', 'cc2@gmail.com', 'Colombia', 'Envigado')
```

Para rellenar una tabla, no es necesario hacerlo una fila por vez, en su lugar podemos escribir

```
INSERT INTO Propietario 
(ID_Propietario, Nombre, Apellido, e-mail, Pais, Ciudad)
VALUES 
('0001', 'Carlos', 'Castro', 'cc2@gmail.com', 'Colombia',  ' Envigado')
('00002', 'Adriana', 'Tamayo', 'atamayo22@outlook.com', 'Colombia', 'Bogota')

```

##**Sentencia `SELECT`**

Al finalizar esta sección, se adquirirán las siguientes competencias:

- Recuperación de datos de una tabla de una base de datos relacional.
- Definición del uso de un predicado.
- Identificación de la sintaxis de la sentencia `SELECT`, usando la clausula `WHERE`.
- Lista de los operadores de comparación soportados por un Sistema de manejo de una base de datos relacional (RDBMS).

###**Introducción**

El proposito principal de un sistema de manipulación de datos, no solo consite en guardar datos, sino también facilitar la recuperación de los mismo. 

Después de crear una tabla e insertar datos en ella, lo siguiente sería recuperar los datos. Para este fin usamos la sentencia `SELECT`, que hace parte del Lenguaje de manipulación de Datos (DML), usaado para la lectura y modificación de los mismos.

La sentencia `SELECT` se conoce como consulta (query), y la salida que se obtiene de un query se llama Resultado (Result) o Resultado de la tabla (Result Table)

###**Recuperación de filas de una tabla**

En su forma más sencilla, usamos la sentencia `SELECT` de la siguiente forma:

```
SELECT * FROM table_name;
```

Si nos remitimos al ejemplo de propietarios de inmuebles, las filas de la entidad `Propietario`

ID_Propietario | Nombre | Apellido | e-mail | País | Ciudad 
-- | -- | -- | -- | -- | -- 
00001 | Carlos| Castro | cc2@gmail.com | Colombia |  Envigado
00002 | Adriana| Tamayo | atamayo22@outlook.com | Colombia | Bogotá
00003 | Pedro| Parra | pp3@mailito.com | Colombia | Calí 
00004 | Isabel| Idarraga | ii3@hotmail.com |Colombia | Cartagena
00005 | Ana| Alcántara | aa1@utp.com | Colombia | Bello


Pueden recuperarse todas mediante la siguiente instrucción

```
SELECT * FROM Propietario;
```

Adicionalmente, se puede recuperar todas las filas de unas cuantas columnas al especificar los nombres de las columnas de forma individual y separadas por comas:


```
SELECT Nombre, Apellido, Ciudad from Propietario;
```

##**Restricción del resultado de un conjunto: Clausula `WHERE`**

Las operaciones relacionales nos ayudan a restringir los resultados de un conjunto mediante el uso de la clausula `WHERE`. Esta clausula siempre requiere un predicado, que corresponde a una condición cuyo valor es un booleano `True`, `False` o incierto. Los predicados son usados en la condición de la busqueda de la clausula `WHERE`. 


Consideremos, por ejemplo, la entidad `Vivienda` como la tabla

ID_Vivienda | Tipo | Precio | Habitaciones | Barrio | Parqueadero | Estrato | Ciudad | Área
-- | -- | -- | -- | -- | -- | -- | -- | --
0001A| Apartamento | 280.000.000| 2 | El portal | Si | 4 | Envigado | 80 m$^2$
0002A|Casa | 580.000.000| 4 | Usaquén | Si | 6 | Bogotá | 220 m$^2$
0003A|Aparta Estudio | 200.000.000| 1 | Estadio | No | 4 | Medellín | 50 m$^2$
0004A|Apartamento | 160.000.000| 2 | Aranjuez | No | 3 | Medellín | 85 m$^2$
0005A|Casa | 770.000.000| 3 | Cedritos | Si | 6 | Bogotá | 310 m$^2$

Si queremos saber el tipo de vivienda con un `ID_Vivienda` igual a `0002A`, usamos la clausula `WHERE`, con el predicado `ID_Vivienda` igual a `0002A`

```
SELECT ID_Vivienda, Tipo FROM Vivienda
WHERE ID_Vivienda='0002A'; 
```

###**Operadores de Comparación:**

En el ejemplo anterior se usó el operador "igual a" en la clausula `WHERE`. Los operadores que admite esta clasula se resumentn en la siguiente tabla

Nombre | Operador
---|---
Igual a | `=`
Mayor a | `>`
Menor a | `<`
Mayor o igual a | `>=`
Menor o igual a | `<=`
No igual a | `<>`

##**Sentencias `UPDATE` y `DELETE`**

En esta sección se aprenderá de los siguientes tópicos:

- Identificación de la sintaxis de la sentencia `UPDATE`
- Identificación de la sintaxis de la sentencia `DELETE`
- Explicación de la importancia de la clausula `WHERE` en las sentencias `UPDATE` y `DELETE`.

###**Sentencia `UPDATE`**

Despues de crearse y rellenarse con datos una tabla, esta puede ser alterada mediante la sentencia `UPDATE`, que hace parte del Lenguaje de manejo de datos (DML), encargado de leer y modificar los datos. 

```
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;
```

Partamos del ejemplo de la identidad `Propietario`, correspondiente a la siguiente tabla:

ID_Propietario | Nombre | Apellido | e-mail | País | Ciudad 
-- | -- | -- | -- | -- | -- 
00001 | Carlos| Castro | cc2@gmail.com | Colombia |  Envigado
00002 | Adriana| Tamayo | atamayo22@outlook.com | Colombia | Bogotá
00003 | Pedro| Parra | pp3@mailito.com | Colombia | Calí 
00004 | Isabel| Idarraga | ii3@hotmail.com |Colombia | Cartagena
00005 | Ana| Alcántara | aa1@utp.com | Colombia | Bello

Supongamos que queremos cambiar el nombre y apellido de la propietario con ID 00003 por Belina Bedoya; debemos hacer entonces 

```
UPDATE Propietario
SET Nombre = 'Belinda', Apellido= 'Bedoya'
WHERE CustomerID = 0003;
```

###**Sentencia DELETE**

Si un momento queremos eliminar una entrada de la tabla, debemos usar la sentencia `DELETE` de la forma siguiente:

```
DELETE FROM table_name WHERE condition;
```

Retomemos el ejemplo de la entidad `Propietario`. Supongamos que por algún motivo, los propietario con `ID_Propietario=0004` e `ID_Propietario=0005` ya vendieron sus inmuebles, por lo que debemos quitarlos de la base de datos. Para esto, realizamos lo siguiente

```
DELETE FROM Propietario
WHERE Propietario IN('0004','0005')
```

##**Información adicional**

This section gives more detailed explanation about concepts that were not covered in the videos in this module.

**Create Schema**

A SQL schema is identified by a schema name, and includes a authorization identifier to indicate the user or account who owns the schema. Schema elements include tables, constraints, views, domains and other constructs that describe the schema.

A schema is created using the `CREATE SCHEMA` statement. For example, we can create a schema called LIBRARY for this course:

``` 
CREATE SCHEMA LIBRARY AUTHORIZATION ‘Robert’
```

The data types used can be: numeric, character-string, bit-string, Boolean, DATE, timestamp, etc.
 

**CREATE TABLE Statement**

The `CREATE TABLE` statement includes these clauses:

- `DEFAULT`
- `CHECK`

Use the `DEFAULT` clause in the `CREATE TABLE` statement to specify the default value for the database server to insert into a column when no explicit value for the column is specified.

This syntax fragment is part of the Column definition.

```
DEFAULT Clause

|--DEFAULT------------------------------------------------------>

>--+-+-NULL---------+--------------------------------------------+--|
   | +-label--------+                                            |   
   | +-literal------+                                            |   
   | +-USER---------+                                            |   
   | '-CURRENT_USER-'                                            |   
   |  (1)                                                        |   
   '-------+-+-CURRENT-+--+----------------------------------+-+-'   
           | '-SYSDATE-'  |                              (2) | |     
           |              '-| DATETIME Field Qualifier |-----' |     
           +-TODAY---------------------------------------------+     
           +-SITENAME------------------------------------------+     
           '-DBSERVERNAME--------------------------------------'   

```          

Use the `CHECK` clause to designate conditions that must be met before data can be assigned to a column during an `INSERT` or `UPDATE` statement.

This syntax fragment is part of the Single-Column Constraint Format and the Multiple-Column Constraint Format.

```
CHECK Clause

                           (1)      
|--CHECK--(--| Condition |------)-------------------------------|
```

**Notes:** 

See Condition

The condition cannot include a user-defined routine.

During an insert or update, if the check constraint of a row evaluates to false, the database server returns an error. The database server does not return an error if a row evaluates to NULL for a check constraint. In some cases, you might want to use both a check constraint and a NOT NULL constraint.

**Condition**

Use a condition to test whether data meets certain qualifications. Use this segment wherever you see a reference to a condition in a syntax diagram.

```
Condition

   .-Logical_Operator-----------------------------.   
   V                                      (1)     |   
|----+-----+--+-| Comparison Conditions |-------+-+-------------|
     '-NOT-'  |                             (2) |     
              +-| Condition with Subquery |-----+     
              |                           (3)   |     
              '-| User-Defined Function |-------'     
```

**SELECT Statement**

The basic structure of the SELECT statement is formed from three clauses: SELECT, FROM and WHERE.
- `<attribute list>` is a list of attribute names whose values are to be retrieved by the query 
- `<table list>` is a list of the relation names required to process the query
-`<condition>` is a conditional(Boolean) expression that identifies the tuples to be retrieved by the query

In situations where you might want to use multiple IF-THEN-ELSE statements, you can often use a single SELECT statement instead. The SELECT statement allows a CLIST to select actions from a list of possible actions. An action consists of one or more statements or commands. The SELECT statement has the following syntax, ending with the END statement. You can use the SELECT statement with or without the initial test expression.

Read syntax diagramSkip visual syntax diagram

```
Select

SELECT [test expression]
	WHEN [expression1]
	...
		(action)
	...
	WHEN [expression2]
	WHEN [expression3]
	...
	[OTHERWISE]
	...
		(action)
	...
END
```

##**Prácticas con `flask_sqlalchemy`**

En ORM trabajaremos con modelos

Para realizar alguna consulta hacemos accedemos al sitio `WEB` de la librería `flask_slqalchemy` [link](https://flask-sqlalchemy.palletsprojects.com/en/2.x/).

In [22]:
!pip install flask_sqlalchemy
!pip install flask_ngrok

Requirement already satisfied: flask_sqlalchemy in /usr/local/lib/python3.6/dist-packages (2.4.4)
Requirement already satisfied: Flask>=0.10 in /usr/local/lib/python3.6/dist-packages (from flask_sqlalchemy) (1.1.2)
Requirement already satisfied: SQLAlchemy>=0.8.0 in /usr/local/lib/python3.6/dist-packages (from flask_sqlalchemy) (1.3.18)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.10->flask_sqlalchemy) (1.1.0)
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.10->flask_sqlalchemy) (2.11.2)
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.10->flask_sqlalchemy) (7.1.2)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.10->flask_sqlalchemy) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10.1->Flask>=0.10->flask_sqlalchemy) (1.1.1)
Requirement already satisfied: flask_ngrok in /usr/local/lib/python3.6/dist-packages (0.0.25)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from flask_ngrok) (2.23.0)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.6/dist-packages (from flask_ngrok) (1.1.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->flask_ngrok) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->flask_ngrok) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->flask_ngrok) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->flask_ngrok) (2020.6.20)
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask_ngrok) (2.11.2)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask_ngrok) (1.0.1)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask_ngrok) (1.1.0)
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask_ngrok) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10.1->Flask>=0.8->flask_ngrok) (1.1.1)

In [25]:
file = open("app.py","w")
file.write('''from flask import Flask
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config["SQLALCHEMY_DATABASE_URI"]="sqlite:////content/db_test.db"
app.config["SQLALCHEMY_TRACK_MODIFICATIONS"] = False
db = SQLAlchemy(app)

class User(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    username = db.Column(db.String(80), unique=True, nullable=False)
    email = db.Column(db.String(120), unique=True, nullable=False)

    def __repr__(self):
        return '<User %r>' % self.username

app.run()
#db.init_app(app)
''')

file.close()

In [27]:
rm db_test.db

In [28]:
from app import db
db.create_all()

In [ ]:
ls

app.py  db_test.db  __pycache__/  sample_data/

In [29]:
from app import User
usuarioA = User(username="Sebastian", email = "ssanchez2@eafit.edu.co")
db.session.add(usuarioA)
db.session.commit()